body {
  overflow-x: hidden;
  font-family: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.text-muted {
  color: #777777;
}
.text-primary {
  color: #ce7c71;
}
p {
  font-size: 14px;
  line-height: 1.75;
}
p.large {
  font-size: 16px;
}
a {
  color: #676dad;
}
a:hover {
  text-decoration: none;
}
a:focus,
a:active,
a.active {
  outline: none;
  color: #ce7c71;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Monda', "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
#port-content {
  text-align: justify;
}
.img-centered {
  margin: 0 auto;
}
.bg-light-gray {
  background-color: #eeeeee;
}
.bg-darkest-gray {
  background-color: #222222;
}
.btn-primary {
  color: #ffffff;
  background-color: #ce7c71;
  border-color: #ce7c71;
  font-family: 'Monda', "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #c1594b;
  border-color: #be5244;
}
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #ce7c71;
  border-color: #ce7c71;
}
.btn-primary .badge {
  color: #ce7c71;
  background-color: #ffffff;
}
.btn-xl {
  color: #ffffff;
  background-color: #ce7c71;
  border-color: #ce7c71;
  font-family: 'Monda', "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  color: #ffffff;
  background-color: #c1594b;
  border-color: #be5244;
}
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
  background-image: none;
}
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
  background-color: #ce7c71;
  border-color: #ce7c71;
}
.btn-xl .badge {
  color: #ce7c71;
  background-color: #ffffff;
}
.progress-bar {
  font-size: 10px;
  color: #ffffff;
  background: #676dad;
  text-transform: uppercase;
}
.navbar-custom {
  background-color: #ffffff;
  border-color: transparent;
}
.navbar-custom .navbar-brand {
  color: #999999;
  font-family: 'Montserrat', "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus,
.navbar-custom .navbar-brand:active,
.navbar-custom .navbar-brand.active {
  color: #808080;
}
.navbar-custom .navbar-collapse {
  text-align: center;
  border-color: rgba(255, 255, 255, 0.02);
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  background-color: #eeeeee;
  border-color: #777777;
  font-family: 'Monda', "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: #222222;
  font-size: 12px;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-custom .nav {
  display: inline-block;
  border-bottom: #222222 2px;
  float: none;
}
.navbar-custom .nav li {
  font-family: 'Monda', "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: #333333;
}
.navbar-custom .nav li a {
  text-align: center;
}
.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus {
  color: #ce7c71;
  outline: none;
}
.navbar-custom .navbar-nav > .active > a {
  border-radius: 0;
  color: #222222;
  background-color: #ffffff;
}
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #333333;
  background-color: #e6e6e6;
}
@media (min-width: 768px) {
  .navbar-custom {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 0;
    align: center;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border-bottom: #333333 3px;
  }
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar-custom .navbar-nav > .active > a {
    float: none;
    border-radius: 3px;
  }
}
@media (min-width: 768px) {
  .navbar-custom.affix {
    background-color: #ffffff;
    padding: 7px 0;
  }
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}
header {
  background-image: url('../img/header-bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: #ffffff;
}
header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}
header .intro-text .intro-lead-in {
  font-family: "Noto sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  ffont-style: italic;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}
header .intro-text .intro-heading {
  font-family: 'Monda', "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 25px;
  padding: 25px;
}
@media (min-width: 768px) {
  header .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  header .intro-text .intro-lead-in {
    font-family: "Noto sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px;
  }
  header .intro-text .intro-heading {
    font-family: 'Monda', "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 50px;
  }
}
section {
  padding: 100px 0;
}
section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
section h3.section-subheading {
  font-size: 16px;
  font-family: "Noto sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-weight: 400;
  margin-bottom: 75px;
}
@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}
section#team {
  background-color: #ffffff;
}
section#team #team-profile {
  padding-bottom: 30px;
}
section#team #team-member {
  border: none;
  padding: 0px 25px 15px 25px;
}
section#team #team-content {
  text-align: justify;
  padding: 0px 40px 0px 40px;
}
section#team #bar {
  padding-top: 10px;
}
section#team #work {
  padding-top: 3px;
  color: #555555;
}
section#team .social {
  padding: 10px 0px 0px 0px;
}
#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: #ffffff;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: #ffffff;
  text-align: center;
  padding: 25px;
}
#portfolio .portfolio-item .portfolio-caption h4 {
  text-transform: none;
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption p {
  font-family: "Noto sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  margin: 0;
}
#portfolio * {
  z-index: 2;
}
@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}
section#contact {
  padding-bottom: 0px;
  color: #ffffff;
  background-color: #222222;
  background-image: url('../img/contact-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
}
section#contact .section-heading {
  color: #ffffff;
}
section#contact .contactform {
  background-color: transparent;
  color: #ffffff;
  padding-bottom: 50px;
  padding-top: 10px;
}
section#contact .address {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}
section#contact .contactbuttons {
  height: 90px;
  width: 90px;
  border-radius: 100%;
  font-size: 45px;
  color: #ffffff;
  background-color: rgba(85, 85, 85, 0.4);
  line-height: 90px;
}
section#contact #contact-text {
  padding-top: 15px;
  line-height: 165%;
}
section#contact #contact-social {
  padding-top: 30px;
  padding-bottom: 30px;
}
footer {
  padding: 25px 0;
  text-align: center;
  background-color: #ffffff;
}
footer span.copyright {
  line-height: 40px;
  font-family: 'Monda', "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: 'Monda', "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  font-size: 25px;
  line-height: 50px;
  color: #ce7c71;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  color: #ffffff;
  background-color: rgba(85, 85, 85, 0.4);
}
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}
.portfolio-modal .modal-dialog {
  margin: 0;
  padding: 3% 4% 5% 4%;
  height: 100%;
  width: 100%;
}
.portfolio-modal .modal-content {
  border-radius: 20px;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 70px;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  margin-bottom: 15px;
  font-size: 3em;
}
.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content p.item-intro {
  margin: 20px 0 30px;
  font-family: "Noto sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.7;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #676dad;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #676dad;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}
#services {
  background-color: #f7f7f7;
}
#services .services-img {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  font-size: 50px;
  color: #ce7c71;
  background-color: #eeeeee;
  line-height: 100px;
}
#services .services-title {
  padding: 20px 0px 10px 0px;
}
#services .services-text {
  text-align: justify;
}
::-moz-selection {
  text-shadow: none;
  background: #ce7c71;
}
::selection {
  text-shadow: none;
  background: #ce7c71;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: #ce7c71;
}
